---
import SlicingLayout from "../../layouts/SlicingLayout.astro";
import { Image } from "astro:assets";
import gambar from "../../assets/Prtfl1/thumb.webp";
import heroMobile from "../../assets/Prtfl1/heroMobile.webp";
import heroTablet from "../../assets/Prtfl1/heroTablet.webp";
import heroDesktop from "../../assets/Prtfl1/heroDesktop.webp";
import logo from "../../assets/Prtfl1/Logo.webp";
import logo1 from "../../assets/Prtfl1/Logo-1.webp";
import logo2 from "../../assets/Prtfl1/Logo-2.webp";
import logo3 from "../../assets/Prtfl1/Logo-3.webp";
import logo4 from "../../assets/Prtfl1/Logo-4.webp";
import logo5 from "../../assets/Prtfl1/Logo-5.webp";
import accountIcon from "../../assets/Prtfl1/Account icon.webp";
import cableIcon from "../../assets/Prtfl1/Cable icon.webp";
import chartIcon from "../../assets/Prtfl1/Chart icon.webp";
import closeIcon from "../../assets/Prtfl1/Close icon.webp";
import earthIcon from "../../assets/Prtfl1/Earth icon.webp";
import governmentIcon from "../../assets/Prtfl1/Government icon.webp";
import paintIcon from "../../assets/Prtfl1/Paint icon.webp";
import vectorIcon from "../../assets/Prtfl1/Vector icon.webp";
import imgMountain from "../../assets/Prtfl1/imgGal.webp";
import mountainMobile from "../../assets/Prtfl1/mountainMobile.webp";
import imgLandscape from "../../assets/Prtfl1/imgGal2.webp";
import imgSphere from "../../assets/Prtfl1/imgGal3.webp";
import imgRoll from "../../assets/Prtfl1/imgGal4.webp";
import appLogo from "../../assets/Prtfl1/AppLogo.webp";
---

<SlicingLayout
  pageTitle="Modern Product Launch"
  description="Build buzz around your launch with this bold product template. A clean, focused design that makes it easy to highlight features, share updates, and drive early interest."
  image={gambar}
  figmaUrl="https://www.figma.com/community/file/1487309170684591074/modern-product-launch"
  designer="Figma"
>
  <div class="flex flex-col mx-auto max-w-7xl pb-35 md:px-10 lg:pb-15 scroll-smooth">
    <!-- Navigation Bar -->
    <nav
      id="nav-bar"
      class="fixed flex flex-col items-start top-0 w-full h-19.5 bg-white rounded-b-lg drop-shadow-lg transition-all duration-300 ease-in-out z-50 md:relative md:items-center md:rounded-none md:drop-shadow-none md:z-40 md:h-37"
    >
      <div
        class="flex flex-row w-full items-center justify-between px-5 pt-5 pb-12.5 md:px-0 md:pb-20"
      >
        <p
          class="font-dm-sans font-medium text-[30px]/[1.2em] -tracking-[0.08em] text-porto1-accent4 md:-tracking-[0.05em]"
        >
          Area
        </p>
        <div class="md:hidden">
          <svg
            id="open-menu"
            class="w-6 h-6 text-black cursor-pointer"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="2"
              d="M5 7h14M5 12h14M5 17h14"></path>
          </svg>
          <svg
            id="close-menu"
            class="hidden w-6 h-6 text-black cursor-pointer"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18 17.94 6M18 18 6.06 6"></path>
          </svg>
        </div>
        <a
          href="https://www.figma.com/sites"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Learn more about Figma sites"
          class="hidden group bg-porto1-accent1 px-5.5 py-3.5 rounded-full text-porto1-link text-white md:inline-flex md:px-4.5 md:py-3.5 hover:bg-porto1-accent3"
          >Learn Figma
          <svg
            class="ms-0.5 w-4 h-4 rotate-45 group-hover:-translate-y-1 transition-all ease-in-out duration-150"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v13m0-13 4 4m-4-4-4 4"></path>
          </svg>
        </a>
      </div>
    </nav>

    <!-- Mobile Menu -->
    <div
      id="mobile-menu"
      class="fixed flex flex-col items-center top-26.5 bg-white w-full px-5 pt-2 pb-8 rounded-b-lg drop-shadow-lg gap-y-12.5 opacity-0 pointer-events-none -translate-y-24 transition-all duration-300 ease-in-out z-40 md:flex-row md:top-3 md:left-[50%] md:w-[399px] md:h-[60px] md:p-0 md:rounded-full md:drop-shadow-none md:opacity-100 md:translate-y-0 md:-translate-x-[50%] md:pointer-events-auto md:z-50 md:bg-white/30 md:backdrop-blur-lg"
    >
      <div
        class="flex flex-col w-full md:flex-row md:justify-between md:items-center md:m-0 md:px-6 md:py-5"
      >
        <a
          href="#benefits"
          class="w-full border-t border-t-porto1-divider py-7.5 text-porto1-link text-porto1-accent4 md:w-auto md:p-0 md:border-0 hover:opacity-55"
          >Benefit</a
        >
        <a
          href="#specs"
          class="w-full border-t border-t-porto1-divider py-7.5 text-porto1-link text-porto1-accent4 md:w-auto md:p-0 md:border-0 hover:opacity-55"
          >Specifications</a
        >
        <a
          href="#how-to"
          class="w-full border-t border-t-porto1-divider py-7.5 text-porto1-link text-porto1-accent4 md:w-auto md:p-0 md:border-0 hover:opacity-55"
          >How-to</a
        >
        <a
          href="#contacts"
          class="w-full border-t border-t-porto1-divider py-7.5 text-porto1-link text-porto1-accent4 md:w-auto md:p-0 md:border-0 hover:opacity-55"
          >Contact Us</a
        >
      </div>
      <div class="flex items-start w-full md:hidden">
        <a
          href="https://www.figma.com/sites"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Learn more about Figma sites"
          class="inline-flex bg-porto1-accent1 px-5.5 py-3.5 rounded-full text-porto1-link text-white"
          >Learn Figma
          <svg
            class="ms-1 w-4 h-4 rotate-45"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v13m0-13 4 4m-4-4-4 4"></path>
          </svg>
        </a>
      </div>
    </div>

    <!-- Hero Section -->
    <header
      class="flex flex-col justify-start items-center pt-30 px-4 gap-y-30 z-10 md:gap-y-35 md:p-0 lg:gap-y-60"
    >
      <h1 class="text-center text-porto1-display fade-in-fast">Browse everything.</h1>

      <div
        class="relative w-full h-[400px] overflow-clip md:h-[362px] md:overflow-visible"
      >
        <div
          class="absolute h-9/12 w-full bg-porto1-accent1 rounded-[30px] bottom-0 -z-10 md:h-full fade-in-fast"
        >
        </div>
        <picture class="absolute left-[50%] -translate-x-[50%] w-8/12 md:w-[95%] lg:w-8/12 md:-bottom-[3%] lg:-bottom-[25%]">
          <source srcset={heroDesktop.src} media="(min-width: 1024px)" />
          <source srcset={heroTablet.src} media="(min-width: 768px)" />
          <Image
            src={heroMobile}
            alt="Mobile Applications Screenshots"
            class="w-full mx-auto object-cover object-top md:object-center fade-in"
            loading="eager"
            fetchpriority="high"
          />
        </picture>
      </div>
    </header>

    <!-- Main Section -->
    <main class="flex flex-col w-full bg-white z-20">
      <!-- Logo Cloud -->
      <div class="flex flex-col px-4 py-12.5 gap-y-7.5 fade-in-fast">
        <p class="text-porto1-p text-porto1-accent5">Trusted by:</p>
        <div
          class="grid grid-cols-2 gap-x-10 gap-y-5 md:grid-cols-4 lg:grid-cols-6"
        >
          <div class="flex justify-center items-center w-37.5 p-5">
            <Image
              src={logo}
              alt="Logoipsum"
              class="w-full transition-transform duration-300 ease-in hover:drop-shadow-lg/20"
              loading="lazy"
              fetchpriority="low"
            />
          </div>
          <div class="flex justify-center items-center w-37.5 p-5">
            <Image
              src={logo1}
              alt="Logoipsum"
              class="w-full transition-transform duration-300 ease-in hover:drop-shadow-lg/20"
              loading="lazy"
              fetchpriority="low"
            />
          </div>
          <div class="flex justify-center items-center w-37.5 p-5">
            <Image
              src={logo2}
              alt="Logoipsum"
              class="w-full transition-transform duration-300 ease-in hover:drop-shadow-lg/20"
              loading="lazy"
              fetchpriority="low"
            />
          </div>
          <div class="flex justify-center items-center w-37.5 p-5">
            <Image
              src={logo3}
              alt="Logoipsum"
              class="w-full transition-transform duration-300 ease-in hover:drop-shadow-lg/20"
              loading="lazy"
              fetchpriority="low"
            />
          </div>
          <div
            class="flex justify-center items-center w-37.5 p-5 md:col-start-2 lg:col-start-auto"
          >
            <Image
              src={logo4}
              alt="Logoipsum"
              class="w-full transition-transform duration-300 ease-in hover:drop-shadow-lg/20"
              loading="lazy"
              fetchpriority="low"
            />
          </div>
          <div class="flex justify-center items-center w-37.5 p-5">
            <Image
              src={logo5}
              alt="Logoipsum"
              class="w-full transition-transform duration-300 ease-in hover:drop-shadow-lg/20"
              loading="lazy"
              fetchpriority="low"
            />
          </div>
        </div>
      </div>
      <!-- End Logo Cloud -->

      <!-- Benefits section -->
      <div id="benefits" class="flex flex-col w-full px-4 pb-25 md:px-0 md:pb-30">
        <div
          class="flex flex-col pt-20 pb-15 justify-start items-center w-full border-t border-t-porto1-divider md:gap-y-12.5 fade-in-slow"
        >
          <div
            class="flex flex-col w-full pr-5 gap-y-7.5 md:gap-y-12.5 md:pr-50 lg:pr-100"
          >
            <h2 class="text-porto1-captions text-porto1-accent1">Benefits</h2>
            <p class="text-porto1-h1">We’ve cracked the code.</p>
            <p class="text-porto1-p text-porto1-accent5">
              Area provides real insights, without the data overload.
            </p>
          </div>
          <div
            class="flex flex-col w-full pt-10 gap-y-5 md:flex-row md:justify-between md:flex-wrap md:gap-x-5"
          >
            <!-- Benefit Icon -->
            <div
              class="flex flex-col gap-y-6 py-10 justify-items-start pr-5 border-t border-t-porto1-divider md:w-[45%] lg:w-[21%]"
            >
              <Image
                src={cableIcon}
                alt="Cable"
                class="w-6 h-6"
                loading="lazy"
                fetchpriority="low"
              />
              <div class="flex flex-col gap-y-5 w-[323px] md:w-full">
                <h3 class="text-porto1-h3">Amplify Insights</h3>
                <p class="text-porto1-p text-porto1-accent5">
                  Unlock data-driven decisions with comprehensive analytics,
                  revealing key opportunities for strategic regional growth.
                </p>
              </div>
            </div>

            <!-- Benefit Icon -->
            <div
              class="flex flex-col gap-y-6 py-10 justify-items-start pr-5 border-t border-t-porto1-divider md:w-[45%] lg:w-[21%]"
            >
              <Image
                src={earthIcon}
                alt="Earth"
                class="w-6 h-6"
                loading="lazy"
                fetchpriority="low"
              />
              <div class="flex flex-col gap-y-5 w-[323px] md:w-full">
                <h3 class="text-porto1-h3">Control Your Global Presence</h3>
                <p class="text-porto1-p text-porto1-accent5">
                  Manage and track satellite offices, ensuring consistent
                  performance and streamlined operations everywhere.
                </p>
              </div>
            </div>

            <!-- Benefit Icon -->
            <div
              class="flex flex-col gap-y-6 py-10 justify-items-start pr-5 border-t border-t-porto1-divider md:w-[45%] lg:w-[21%]"
            >
              <Image
                src={accountIcon}
                alt="Account"
                class="w-6 h-6"
                loading="lazy"
                fetchpriority="low"
              />
              <div class="flex flex-col gap-y-5 w-[323px] md:w-full">
                <h3 class="text-porto1-h3">Remove Language Barriers</h3>
                <p class="text-porto1-p text-porto1-accent5">
                  Adapt to diverse markets with built-in localization for clear
                  communication and enhanced user experience.
                </p>
              </div>
            </div>

            <!-- Benefit Icon -->
            <div
              class="flex flex-col gap-y-6 py-10 justify-items-start pr-5 border-t border-t-porto1-divider md:w-[45%] lg:w-[21%]"
            >
              <Image
                src={chartIcon}
                alt="Chart"
                class="w-6 h-6"
                loading="lazy"
                fetchpriority="low"
              />
              <div class="flex flex-col gap-y-5 w-[323px] md:w-full">
                <h3 class="text-porto1-h3">Visualize Growth</h3>
                <p class="text-porto1-p text-porto1-accent5">
                  Generate precise, visually compelling reports that illustrate
                  your growth trajectories across all regions.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="relative w-full fade-in-slow">
          <picture>
            <source srcset={imgMountain.src} media="(min-width: 768px)" />
            <Image
              src={mountainMobile}
              alt="A mountain range"
              class="h-150 object-cover rounded-[30px] lg:w-full"
              loading="lazy"
              fetchpriority="high"
            />
          </picture>
        </div>
      </div>
      <!-- End Benefits section -->

      <!-- Features carousel -->
      <section
        class="flex flex-col w-full px-8 pb-20 md:px-0 md:pb-30 md:-gap-y-3 lg:flex-row lg:justify-start lg:items-stretch lg:space-x-5"
      >
        <div
          class="flex flex-col w-full pt-15 pb-20 gap-y-10 border-t border-t-porto1-divider fade-in-fast"
        >
          <div class="flex flex-col w-full gap-y-10 md:pr-20">
            <p class="text-porto1-h1">See the Big Picture</p>
            <p class="text-porto1-p text-porto1-accent5">
              Area turns your data into clear, vibrant visuals that show you
              exactly what's happening in each region.
            </p>
          </div>
          <div class="flex flex-col w-full fade-in">
            <div
              class="flex flex-row items-start justify-items-start w-full py-5 gap-x-7.5 border-t border-t-porto1-divider md:pr-20"
            >
              <p class="text-porto1-p text-porto1-accent5">01</p>
              <p class="text-porto1-p">
                Spot Trends in Seconds: No more digging through numbers.
              </p>
            </div>
            <div
              class="flex flex-row items-start justify-items-start w-full py-5 gap-x-7.5 border-t border-t-porto1-divider md:pr-20"
            >
              <p class="text-porto1-p text-porto1-accent5">02</p>
              <p class="text-porto1-p">
                Get Everyone on the Same Page: Share easy-to-understand reports
                with your team.
              </p>
            </div>
            <div
              class="flex flex-row items-start justify-items-start w-full py-5 gap-x-7.5 border-t border-t-porto1-divider md:pr-20"
            >
              <p class="text-porto1-p text-porto1-accent5">03</p>
              <p class="text-porto1-p">
                Make Presentations Pop: Interactive maps and dashboards keep
                your audience engaged.
              </p>
            </div>
            <div
              class="flex flex-row items-start justify-items-start w-full py-5 gap-x-7.5 border-t border-t-porto1-divider md:pr-20"
            >
              <p class="text-porto1-p text-porto1-accent5">04</p>
              <p class="text-porto1-p">
                Your Global Snapshot: Get a quick, clear overview of your entire
                operation.
              </p>
            </div>
          </div>
          <a
            href="https://www.figma.com/sites"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Learn more about Figma sites"
            class="w-fit gap-y-2.5 px-5.5 py-3.5 justify-center items-center bg-[#DFECC6] rounded-full text-center cursor-pointer text-porto1-link hover:text-white hover:bg-porto1-accent1/70"
          >
            Discover More
          </a>
        </div>
        <div class="flex gap-y-10 md:gap-y-5 fade-in-slow">
          <Image
            src={imgRoll}
            alt="Paper Roll"
            class="h-[385px] object-cover rounded-[30px] md:h-full"
            loading="lazy"
            fetchpriority="high"
          />
        </div>
      </section>
      <!-- End Features carousel -->

      <!-- Specifications table -->
      <section id="specs"
        class="flex flex-col gap-y-5 pb-30 border-t border-t-porto1-divider"
      >
        <div
          class="flex flex-col gap-y-10 px-4 py-20 md:p-20 lg:px-60 lg:py-20 fade-in"
        >
          <div
            class="flex flex-col justify-start items-center text-center gap-y-7.5 md:gap-y-10"
          >
            <h2 class="text-porto1-captions text-porto1-accent1">Specs</h2>
            <p class="text-porto1-h1">Why Choose Area?</p>
            <p class="text-porto1-p text-porto1-accent5">
              You need a solution that keeps up. That’s why we developed Area. A
              developer-friendly approach to streamline your business.
            </p>
            <a
              href="https://www.figma.com/sites"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Learn more about Figma sites"
              class="px-5.5 py-3.5 justify-center items-center bg-porto1-accent2 rounded-full text-center cursor-pointer text-porto1-link hover:text-white hover:bg-porto1-accent1/70"
              >Discover More</a
            >
          </div>
        </div>
        <section
          class="flex flex-row justify-start px-2 rounded-[20px] overflow-x-auto w-full whitespace-nowrap md:p-1 lg:p-0 fade-in-slow"
        >
          <section
            class="flex flex-col w-50 rounded-[20px] shadow-[0_2px_8px_0_rgba(0,0,0,0.08)] border border-porto1-divider md:w-1/3"
          >
            <div
              class="flex justify-center items-center gap-y-4 px-7.5 py-10 h-24 border-b-2 border-b-black"
            >
              <p class="font-dm-sans text-[25.71px]/[1.2em] -tracking-[0.08em]">
                Area
              </p>
            </div>
            <!-- Specifications table point -->
            <div
              class="flex flex-row justify-start items-center gap-x-2 px-7.5 py-8 border-b border-b-porto1-divider md:px-5"
            >
              <div class="w-3.5 h-3.5 shrink-0">
                <Image
                  src={vectorIcon}
                  alt="Checkmark"
                  class="overflow-clip"
                  loading="lazy"
                  fetchpriority="low"
                />
              </div>
              <p class="w-29.5 h-3.5 text-porto1-captions align-middle">
                Ultra-fast browsing
              </p>
            </div>
            <!-- Specifications table point -->
            <div
              class="flex flex-row justify-start items-center gap-x-2 px-7.5 py-8 border-b border-b-porto1-divider md:px-5"
            >
              <div class="w-3.5 h-3.5 shrink-0">
                <Image
                  src={vectorIcon}
                  alt="Checkmark"
                  class="overflow-clip"
                  loading="lazy"
                  fetchpriority="low"
                />
              </div>
              <p class="w-29.5 h-3.5 text-porto1-captions align-middle">
                Advanced AI insights
              </p>
            </div>
            <!-- Specifications table point -->
            <div
              class="flex flex-row justify-start items-center gap-x-2 px-7.5 py-8 border-b border-b-porto1-divider md:px-5"
            >
              <div class="w-3.5 h-3.5 shrink-0">
                <Image
                  src={vectorIcon}
                  alt="Checkmark"
                  class="overflow-clip"
                  loading="lazy"
                  fetchpriority="low"
                />
              </div>
              <p class="w-29.5 h-3.5 text-porto1-captions align-middle">
                Seamless integration
              </p>
            </div>
            <!-- Specifications table point -->
            <div
              class="flex flex-row justify-start items-center gap-x-2 px-7.5 py-8 border-b border-b-porto1-divider md:px-5"
            >
              <div class="w-3.5 h-3.5 shrink-0">
                <Image
                  src={vectorIcon}
                  alt="Checkmark"
                  class="overflow-clip"
                  loading="lazy"
                  fetchpriority="low"
                />
              </div>
              <p class="w-29.5 h-3.5 text-porto1-captions align-middle">
                Advanced AI insights
              </p>
            </div>
            <!-- Specifications table point -->
            <div
              class="flex flex-row justify-start items-center gap-x-2 px-7.5 py-8 border-b border-b-porto1-divider md:px-5"
            >
              <div class="w-3.5 h-3.5 shrink-0">
                <Image
                  src={vectorIcon}
                  alt="Checkmark"
                  class="overflow-clip"
                  loading="lazy"
                  fetchpriority="low"
                />
              </div>
              <p class="w-29.5 h-3.5 text-porto1-captions align-middle">
                Ultra-fast browsing
              </p>
            </div>
            <!-- Specifications table point -->
            <div
              class="flex flex-row justify-start items-center gap-x-2 px-7.5 py-8 border-b border-b-porto1-divider md:px-5"
            >
              <div class="w-3.5 h-3.5 shrink-0">
                <Image
                  src={vectorIcon}
                  alt="Checkmark"
                  class="overflow-clip"
                  loading="lazy"
                  fetchpriority="low"
                />
              </div>
              <p class="w-29.5 h-3.5 text-porto1-captions align-middle">
                Full UTF-8 support
              </p>
            </div>
          </section>
          <section
            class="flex flex-col w-50 rounded-[20px] border-b border-t border-b-white border-t-white overflow-visible md:w-1/3"
          >
            <div
              class="flex justify-center items-center gap-y-4 px-7.5 py-10 h-24 border-b-2 border-b-black"
            >
              <p
                class="font-dm-sans text-[25.71px]/[1.2em] -tracking-[0.08em] text-porto1-accent5"
              >
                WebSurge
              </p>
            </div>
            <!-- Specifications table point -->
            <div
              class="flex flex-row justify-start items-center gap-x-2 px-7.5 py-8 border-b border-b-porto1-divider border-r border-r-porto1-divider md:px-5"
            >
              <div class="w-3.5 h-3.5 shrink-0">
                <Image
                  src={vectorIcon}
                  alt="Checkmark"
                  class="overflow-clip"
                  loading="lazy"
                  fetchpriority="low"
                />
              </div>
              <p class="w-29.5 h-3.5 text-porto1-captions align-middle">
                Fast browsing
              </p>
            </div>
            <!-- Specifications table point -->
            <div
              class="flex flex-row justify-start items-center gap-x-2 px-7.5 py-8 border-b border-b-porto1-divider border-r border-r-porto1-divider md:px-5"
            >
              <div class="w-3.5 h-3.5 shrink-0">
                <Image
                  src={vectorIcon}
                  alt="Checkmark"
                  loading="lazy"
                  fetchpriority="low"
                />
              </div>
              <p class="w-29.5 h-3.5 text-porto1-captions align-middle">
                Basic AI recommendations
              </p>
            </div>
            <!-- Specifications table point -->
            <div
              class="flex flex-row justify-start items-center gap-x-2 px-7.5 py-8 border-b border-b-porto1-divider border-r border-r-porto1-divider md:px-5"
            >
              <div class="w-3.5 h-3.5 shrink-0">
                <Image
                  src={vectorIcon}
                  alt="Checkmark"
                  class="overflow-clip"
                  loading="lazy"
                  fetchpriority="low"
                />
              </div>
              <p class="w-29.5 h-3.5 text-porto1-captions align-middle">
                Restricts customization
              </p>
            </div>
            <!-- Specifications table point -->
            <div
              class="flex flex-row justify-start items-center gap-x-2 px-7.5 py-8 border-b border-b-porto1-divider border-r border-r-porto1-divider md:px-5"
            >
              <div class="w-3.5 h-3.5 shrink-0">
                <Image
                  src={closeIcon}
                  alt="Checkmark"
                  class="overflow-clip"
                  loading="lazy"
                  fetchpriority="low"
                />
              </div>
              <p class="w-29.5 h-3.5 text-porto1-captions align-middle">
                Basic AI insights
              </p>
            </div>
            <!-- Specifications table point -->
            <div
              class="flex flex-row justify-start items-center gap-x-2 px-7.5 py-8 border-b border-b-porto1-divider border-r border-r-porto1-divider md:px-5"
            >
              <div class="w-3.5 h-3.5 shrink-0">
                <Image
                  src={vectorIcon}
                  alt="Checkmark"
                  class="overflow-clip"
                  loading="lazy"
                  fetchpriority="low"
                />
              </div>
              <p class="w-29.5 h-3.5 text-porto1-captions align-middle">
                Fast browsing
              </p>
            </div>
            <!-- Specifications table point -->
            <div
              class="flex flex-row justify-start items-center gap-x-2 px-7.5 py-8 border-b border-b-porto1-divider border-r border-r-porto1-divider md:px-5"
            >
              <div class="w-3.5 h-3.5 shrink-0">
                <Image
                  src={closeIcon}
                  alt="Checkmark"
                  class="overflow-clip"
                  loading="lazy"
                  fetchpriority="low"
                />
              </div>
              <p class="w-29.5 h-3.5 text-porto1-captions align-middle">
                Potential display errors
              </p>
            </div>
          </section>
          <section
            class="flex flex-col w-50 rounded-[20px] border-t border-t-white overflow-visible md:w-1/3"
          >
            <div
              class="flex justify-center items-center gap-y-4 px-7.5 py-10 h-24 border-b-2 border-b-black"
            >
              <p
                class="font-dm-sans text-[25.71px]/[1.2em] -tracking-[0.08em] text-porto1-accent5"
              >
                HyperView
              </p>
            </div>
            <!-- Specifications table point -->
            <div
              class="flex flex-row justify-start items-center gap-x-2 px-7.5 py-8 border-b border-b-porto1-divider md:px-5"
            >
              <div class="w-3.5 h-3.5 shrink-0">
                <Image
                  src={closeIcon}
                  alt="Checkmark"
                  class="overflow-clip"
                  loading="lazy"
                  fetchpriority="low"
                />
              </div>
              <p class="w-29.5 h-3.5 text-porto1-captions align-middle">
                Moderate speeds
              </p>
            </div>
            <!-- Specifications table point -->
            <div
              class="flex flex-row justify-start items-center gap-x-2 px-7.5 py-8 border-b border-b-porto1-divider md:px-5"
            >
              <div class="w-3.5 h-3.5 shrink-0">
                <Image
                  src={closeIcon}
                  alt="Checkmark"
                  loading="lazy"
                  fetchpriority="low"
                />
              </div>
              <p class="w-29.5 h-3.5 text-porto1-captions align-middle">
                No AI assistance
              </p>
            </div>
            <!-- Specifications table point -->
            <div
              class="flex flex-row justify-start items-center gap-x-2 px-7.5 py-8 border-b border-b-porto1-divider md:px-5"
            >
              <div class="w-3.5 h-3.5 shrink-0">
                <Image
                  src={closeIcon}
                  alt="Checkmark"
                  class="overflow-clip"
                  loading="lazy"
                  fetchpriority="low"
                />
              </div>
              <p class="w-29.5 h-3.5 text-porto1-captions align-middle">
                Steep learning curve
              </p>
            </div>
            <!-- Specifications table point -->
            <div
              class="flex flex-row justify-start items-center gap-x-2 px-7.5 py-8 border-b border-b-porto1-divider md:px-5"
            >
              <div class="w-3.5 h-3.5 shrink-0">
                <Image
                  src={closeIcon}
                  alt="Checkmark"
                  class="overflow-clip"
                  loading="lazy"
                  fetchpriority="low"
                />
              </div>
              <p class="w-29.5 h-3.5 text-porto1-captions align-middle">
                No AI assistance
              </p>
            </div>
            <!-- Specifications table point -->
            <div
              class="flex flex-row justify-start items-center gap-x-2 px-7.5 py-8 border-b border-b-porto1-divider md:px-5"
            >
              <div class="w-3.5 h-3.5 shrink-0">
                <Image
                  src={closeIcon}
                  alt="Checkmark"
                  class="overflow-clip"
                  loading="lazy"
                  fetchpriority="low"
                />
              </div>
              <p class="w-29.5 h-3.5 text-porto1-captions align-middle">
                Moderate speeds
              </p>
            </div>
            <!-- Specifications table point -->
            <div
              class="flex flex-row justify-start items-center gap-x-2 px-7.5 py-8 border-b border-b-porto1-divider md:px-5"
            >
              <div class="w-3.5 h-3.5 shrink-0">
                <Image
                  src={closeIcon}
                  alt="Checkmark"
                  class="overflow-clip"
                  loading="lazy"
                  fetchpriority="low"
                />
              </div>
              <p class="w-29.5 h-3.5 text-porto1-captions align-middle">
                Partial UTF-8 support
              </p>
            </div>
          </section>
        </section>
      </section>
      <!-- End Specifications table -->

      <!-- Testimonial Section -->
      <div
        class="flex flex-col gap-y-10 px-4 pb-25 md:px-0 md:pb-30 lg:flex-row lg:gap-x-5 lg:justify-center lg:items-center fade-in"
      >
        <Image
          src={imgSphere}
          alt="A concrete sphere, balanced between two other larger spheres"
          class="w-full rounded-[30px] lg:flex-1"
          loading="lazy"
          fetchpriority="high"
        />
        <section
          class="flex flex-col gap-y-12.5 px-4 py-10 md:p-0 md:h-94 lg:flex-1 lg:pl-12.5 fade-in-slow"
        >
          <p class="text-porto1-h2">
            “I was skeptical, but Area has completely transformed the way I
            manage my business. The data visualizations are so clear and
            intuitive, and the platform is so easy to use. I can't imagine
            running my company without it.”
          </p>
          <div
            class="flex gap-x-2 justify-start items-center lg:flex-col lg:gap-y-2 lg:items-start"
          >
            <p class="text-porto1-p">John Smith</p>
            <p class="text-porto1-captions text-porto1-accent1">Head of Data</p>
          </div>
        </section>
      </div>
      <!-- End Testimonial Section -->

      <!-- How it works section -->
      <section id="how-to"
        class="flex flex-col gap-y-20 px-4 pt-20 pb-25 border-t border-t-porto1-divider md:px-0 md:pb-30"
      >
        <div class="flex flex-col gap-y-10 md:flex-row md:justify-between fade-in">
          <p class="text-porto1-h1">Map Your Success</p>
          <a
            href="https://www.figma.com/sites"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Learn more about Figma sites"
            class="flex text-porto1-link justify-center items-center bg-porto1-accent2 rounded-full gap-y-2.5 px-5.5 py-3.5 w-fit hover:text-white hover:bg-porto1-accent1/70"
            >Discover More</a
          >
        </div>
        <div
          class="flex flex-row justify-start items-start overflow-x-auto w-full gap-x-10 md:gap-x-5 fade-in-slow"
        >
          <section
            class="flex flex-col justify-start items-start gap-y-15 pr-7.5 pt-15 pb-5 w-60 border-t border-t-porto1-divider shrink-0 md:flex-1"
          >
            <p class="text-porto1-display-statistics text-porto1-accent6">01</p>
            <div class="flex flex-col justify-start items-start gap-y-5">
              <p class="text-porto1-h3">Get Started</p>
              <p class="text-porto1-p text-porto1-accent5">
                With our intuitive setup, you’re up and running in minutes.
              </p>
            </div>
          </section>
          <section
            class="flex flex-col justify-start items-start gap-y-15 pr-7.5 pt-15 pb-5 w-60 border-t border-t-porto1-divider shrink-0 md:flex-1"
          >
            <p class="text-porto1-display-statistics text-porto1-accent6">02</p>
            <div class="flex flex-col justify-start items-start gap-y-5">
              <p class="text-porto1-h3">Customize and Configure</p>
              <p class="text-porto1-p text-porto1-accent5">
                Adapt Area to your specific requirements and preferences.
              </p>
            </div>
          </section>
          <section
            class="flex flex-col justify-start items-start gap-y-15 pr-7.5 pt-15 pb-5 w-60 border-t border-t-porto1-divider shrink-0 md:flex-1"
          >
            <p class="text-porto1-display-statistics text-porto1-accent6">03</p>
            <div class="flex flex-col justify-start items-start gap-y-5">
              <p class="text-porto1-h3">Grow Your Business</p>
              <p class="text-porto1-p text-porto1-accent5">
                Make informed decisions to exceed your goals.
              </p>
            </div>
          </section>
        </div>
      </section>
      <!-- End How it works section -->

      <!-- Hero image -->
      <div class="flex justify-start items-center gap-x-2.5 pb-10">
        <div
          class="flex justify-start items-center gap-x-2.5 px-4 md:p-0 lg:flex-1 fade-in-fast"
        >
          <Image
            src={imgLandscape}
            alt="An eye-catching landscape of green."
            class="rounded-[30px] h-150 object-cover lg:w-full"
            loading="lazy"
            fetchpriority="low"
          />
        </div>
      </div>
      <!-- End Hero image -->

      <!-- Centered CTA -->
      <section id="contacts"
        class="flex flex-col justify-start items-center gap-y-10 px-4 py-30 text-center border-t border-t-porto1-divider md:px-25 md:py-30 lg:px-75 lg:py-30"
      >
        <p class="text-porto1-h1 fade-in-fast">Connect with us</p>
        <p class="text-porto1-p text-porto1-accent5 fade-in-fast">
          Schedule a quick call to learn how Area can turn your regional data
          into a powerful advantage.
        </p>
        <a
          href="https://www.figma.com/sites"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Learn more about Figma sites"
          class="inline-flex group w-full justify-center items-center gap-x-0.5 px-4.5 py-3.5 bg-porto1-accent1 rounded-full text-white text-porto1-link hover:bg-porto1-accent3 fade-in"
          >Learn Figma<svg
            class="ms-1 w-4 h-4 rotate-45 group-hover:-translate-y-1 transition-all ease-in-out duration-150"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v13m0-13 4 4m-4-4-4 4"></path>
          </svg></a
        >
      </section>
      <!-- End Centered CTA -->
    </main>

    <footer
      class="flex flex-col justify-end items-start gap-y-20 px-4 pt-10 border-t border-t-porto1-divider md:px-0 md:pb-5 fade-in-fast"
    >
      <div class="flex flex-col gap-y-25 justify-start items-start md:flex-row">
        <div
          class="flex flex-col justify-center items-start gap-y-[27px] md:flex-row md:gap-x-[27px]"
        >
          <a href="#benefits" class="text-porto1-link">Benefits</a>
          <a href="#specs" class="text-porto1-link">Specifications</a>
          <a href="#how-to" class="text-porto1-link">How-to</a>
        </div>
      </div>
      <div class="flex w-full justify-between items-end gap-x-10">
        <div class="flex justify-start items-end gap-y-[8.97px] shrink-0">
          <Image
            src={appLogo}
            alt="Company logo"
            class="h-17.5"
            loading="lazy"
            fetchpriority="low"
          />
        </div>
        <div
          class="flex justify-start items-center gap-x-4 shrink-0 md:w-[75%]"
        >
          <p class="text-porto1-captions text-porto1-accent1">© Area.</p>
          <p class="text-porto1-captions text-porto1-accent1">2025</p>
        </div>
        <p class="text-porto1-captions text-porto1-accent1 shrink-0">
          All Rights Reserved
        </p>
      </div>
    </footer>
  </div>

  <script>
    import { initFadeIn } from "../../utils/fadeIn";

    const navBar = document.getElementById("nav-bar");
    const openMenuBtn = document.getElementById("open-menu");
    const closeMenuBtn = document.getElementById("close-menu");
    const mblMenu = document.getElementById("mobile-menu");

    openMenuBtn?.addEventListener("click", () => {
      navBar?.classList.remove("rounded-b-lg", "drop-shadow-lg", "h-19.5");
      navBar?.classList.add("h-26.5");
      mblMenu?.classList.remove(
        "opacity-0",
        "pointer-events-none",
        "-translate-y-24"
      );
      mblMenu?.classList.add("opacity-100", "translate-y-0");
      openMenuBtn.classList.add("hidden");
      closeMenuBtn?.classList.remove("hidden");
    });

    closeMenuBtn?.addEventListener("click", () => {
      navBar?.classList.add("rounded-b-lg", "drop-shadow-lg", "h-19.5");
      navBar?.classList.remove("h-26.5");
      mblMenu?.classList.remove("opacity-100", "translate-y-0");
      mblMenu?.classList.add(
        "opacity-0",
        "pointer-events-none",
        "-translate-y-24"
      );
      openMenuBtn?.classList.remove("hidden");
      closeMenuBtn.classList.add("hidden");
    });   

    // Client-side initialization
    if (typeof window !== "undefined") {
      document.addEventListener("DOMContentLoaded", initFadeIn);
    }
  </script>
</SlicingLayout>
